footer {
  height: 290px;
  background-color: #1E4776;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 45px 25px 15px;
}

.footer-item {
  width: 350px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
}

.copyright h4 {
  font-weight: 700;
  font-size: 28px;
  color: #7E9EC9;
}

.copyright p {
  padding-top: 15px;
  color: #7E9EC9;
}

.social p {
  margin: 15px 0;
}

.social-row {
  display: flex;
  align-items: center;
  gap: 35px;
  padding-left: 15px;
}

.social-row a {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in;
}

.social-row a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.btn-call {
  display: block;
  width: 280px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50px;
  color: #fff;
  padding: 14px 30px 15px;
  font-weight: 700;
  text-transform: uppercase;
   transition: all 0.3s ease-in;
} 

.btn-call:hover {
  color: #1E4776;
  background-color: #fff;
}

.contact p {
  padding-top: 15px;
  font-weight: 400;
  color: #7e9ec9;
}

@media (max-width: 1024px) {
  footer {
    height: 435px;
    padding: 40px 15px 60px;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    text-align: center;
  }

  .footer-item {
    padding-top: 0;
  }

  .social-row {
    justify-content: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .footer-item {
    font-size: 14px;
  }

  .copyright h4 {
    font-size: 18px;
  }
}